<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl mb-8">Reset password</h1>

  <%= form_with url: password_resets_path, local: true, method: :post do |form| %>
    <div class="form-control">
      <%= form.label :email, class: "label label-text" %>
      <%= form.text_field :email, class: "input input-bordered w-full" %>
    </div>

    <%= form.submit "Reset my password!", class: "btn btn-primary mt-8" %>
  <% end %>
</div>
